

<a name="about"></a>
<div class="home-top"><iframe width="560" height="315" src="//www.youtube.com/embed/l-XEwTu9noE" frameborder="0" allowfullscreen></iframe></div>

<div class="welcome-container"><%= image_tag "metro.png", :class=> "image-float-left" %>
<a name="amenities"></a>
<h3>sweet amenities...</h3>
<h4>Walking distance from the metro</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, tempore libero deserunt officia nulla in! Reprehenderit ipsam explicabo a eveniet quod ipsum officiis dolorum similique. Inventore blanditiis accusantium quae nemo.</p>
<p>Delectus, nemo nesciunt adipisci rerum natus. Nam, ut, soluta, porro iste obcaecati nulla quidem voluptatem excepturi corporis similique doloremque illum culpa veritatis! Nihil, sint odit provident blanditiis voluptas harum hic.</p>
<p>Expedita, dicta, quaerat, ea nisi veritatis accusantium vero temporibus nulla voluptatum debitis aliquam nihil dignissimos officia nostrum fugiat pariatur error similique in perferendis illum commodi qui aliquid maiores rerum consequatur?</p>
<p>Dolore, dignissimos, voluptas eligendi nostrum in mollitia ullam maxime. Totam, vel mollitia dolor minus eligendi velit nam libero qui quis reiciendis non animi amet consequuntur earum tempore ab illum quidem.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, at, laborum nisi adipisci maiores fuga fugiat tenetur nulla fugit ut. Temporibus distinctio incidunt eius vel aliquam fuga quibusdam mollitia!</p>
<p>Praesentium, saepe, optio assumenda voluptatem dignissimos suscipit animi pariatur aspernatur modi neque. Nisi, cumque consequatur illo quas molestiae eligendi ea tenetur voluptate. Ad, nisi placeat vero quia ipsam voluptatum nesciunt.</p>

<div class="spacer"></div>

<div class="welcome-container"><%= image_tag "shopping.png", :class=> "image-float-left" %>
<h3>local shopping...</h3>
<h4>Safeway, Starbucks, Yes Organic Market, Sala Thai... oh my!</h4>
<p>Nesciunt, saepe, eaque, voluptatum fuga vitae minima doloribus deserunt obcaecati necessitatibus cupiditate dolorem pariatur in sunt rem sapiente tenetur est modi voluptas similique eos. Quibusdam facere similique blanditiis ut nemo!</p>
<p>Soluta, nihil, delectus, odio maxime asperiores excepturi fugiat aliquam ut ducimus tempora non repellendus illo beatae fugit sunt cupiditate itaque placeat nobis voluptatum minus facilis totam sit similique sint quidem.</p>
<p>Vero, consectetur, facere odio explicabo fugit expedita deserunt nulla necessitatibus ea provident veritatis impedit porro qui nostrum esse quia non debitis eos quibusdam molestias libero et doloremque reiciendis ut architecto.</p>
<p>Iste, quisquam, corporis vitae placeat saepe aspernatur quidem numquam et quas tempora porro consequatur voluptate. Ipsa, aut quas fugiat odio sed eius debitis. Incidunt, magni blanditiis tenetur vel eum aliquid?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, praesentium totam doloribus aspernatur nam ducimus corporis deserunt tempora accusantium eum quod odio quaerat sequi fuga cum ut nostrum asperiores laborum.</p>

<p>Ducimus, cupiditate voluptatum unde numquam recusandae veniam. Natus, voluptatum, aut alias rerum tempora itaque quod eos consequatur quisquam consectetur dolore illum nesciunt asperiores ut et earum est adipisci inventore corporis.</p>
<p>Voluptatibus, quo, molestiae, quibusdam ipsum ex reiciendis iusto omnis quam aperiam perferendis quos aspernatur officiis dolorem neque rem totam voluptatum voluptatem saepe explicabo impedit rerum architecto facere nemo alias cupiditate.</p>

<p>Sapiente, labore, cum earum deserunt harum architecto esse dolor quidem accusamus odio distinctio quam eaque minus nobis illo expedita vitae recusandae corrupti! Ad, nobis ab dolorem quo soluta debitis eligendi!</p>
<p>Ducimus, illum, reiciendis, aliquam, provident laboriosam quae necessitatibus tempora architecto deleniti numquam accusamus illo eum sapiente. Provident, quam, deleniti cum dicta magnam iure aspernatur! Accusantium necessitatibus quos at maiores sunt?</p>

<div class="spacer-2"></div>
<a name="gallery"></a>
<div class="gallery"><h3 class="text-center">Image Gallery</h3>
	<%= image_tag "gallery-image.png", :class=> "gallery-images"%>
	<%= image_tag "gallery-image.png", :class=> "gallery-images"%>
	<%= image_tag "gallery-image.png", :class=> "gallery-images"%>
	<%= image_tag "gallery-image.png", :class=> "gallery-images"%>
	<%= image_tag "gallery-image.png", :class=> "gallery-images"%>
	<%= image_tag "gallery-image.png", :class=> "gallery-images"%>
	<%= image_tag "gallery-image.png", :class=> "gallery-images"%>
	<%= image_tag "gallery-image.png", :class=> "gallery-images"%>
	<%= image_tag "gallery-image.png", :class=> "gallery-images"%>
	<%= image_tag "gallery-image.png", :class=> "gallery-images"%>
	<%= image_tag "gallery-image.png", :class=> "gallery-images"%>
	<%= image_tag "gallery-image.png", :class=> "gallery-images"%>
	<%= image_tag "gallery-image.png", :class=> "gallery-images"%>
	<%= image_tag "gallery-image.png", :class=> "gallery-images"%>
	<%= image_tag "gallery-image.png", :class=> "gallery-images"%>


	
<br style="clear:both;">
</div>

<div class="spacer-3"></div>
<a name="floorplan"></a>
<h3>Floor plan</h3>
<%= image_tag "first-floor.png", :class=> "image-float-left" %>
<p>Quo, voluptatibus, nemo, quas magni alias atque accusamus nam excepturi repudiandae molestias mollitia voluptatum itaque quasi! Nulla, veniam, dolorum, placeat praesentium voluptas rerum quia magni fugiat quae nam soluta enim.</p>
<p>Doloremque, consequuntur, quam, numquam voluptate incidunt molestias soluta tempora cumque sit repellendus nesciunt ipsam iure. Quibusdam, similique, earum, sapiente eligendi inventore fuga magnam id dolor repudiandae accusamus facilis expedita perferendis.</p>
<p>Asperiores, sit, tempore, temporibus, mollitia dolor sequi consectetur libero repellendus eius voluptas aut ducimus ratione voluptatum iusto unde consequatur esse! Quidem, voluptatibus atque delectus sed nemo sequi incidunt ipsa ducimus?</p>
<p>Nisi, minus, laudantium, ea sed illo aperiam at provident dolore odio distinctio natus expedita optio alias non animi sit error vero perferendis. Fugit, explicabo, sit quidem nam totam quibusdam perferendis!</p>
<p>Id, voluptate obcaecati cumque mollitia omnis praesentium quibusdam ea ducimus maxime nostrum? Dolorum, similique, sed officia incidunt nam id nobis odio cum voluptatibus voluptates distinctio mollitia deleniti doloribus. Repudiandae, possimus.</p>
<p>Quae, vero, sit iure aspernatur perspiciatis autem eaque minus quidem fugiat aut eveniet maiores fuga soluta doloribus architecto cumque cupiditate earum quod qui repudiandae dolorum blanditiis numquam dignissimos nemo distinctio.</p>
<p>Voluptatem, excepturi, magni, explicabo, recusandae perspiciatis delectus voluptate et suscipit natus tempora aliquam omnis architecto possimus dolores beatae corporis perferendis officia consectetur provident adipisci aspernatur dolorum numquam ut temporibus tenetur!</p>
</div>

