<h1>Your Current Open Maintenance Tickets</h1>
<p>These are a list of all of your open repair tickets. Create a <%= link_to 'new ticket', new_ticket_path %> or <%= link_to 'go back to the dashboard', dashboard_path %></p>



	<% @tickets.each do |ticket| %>
	
	<ul>
      	<li><%= ticket.title %>- <%= ticket.description %></li>
    </ul>
		
		
		<% end %>
<%= link_to 'Go back to the Dashboard', dashboard_path %>