<h1>This is where my tickets will display</h1>
<p>Please describe your needed repair issue in detail.</p>
<%= form_for :ticket, url: tickets_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
or <%= link_to 'Go back to the Dashboard', dashboard_path %>