<!DOCTYPE html>
<html>
<head>
  <title>CapitolDominion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="normalize.css">
</head>
<body>
	<header><a href="/"><img class="logo" src="/assets/capitol_dominion_logo.png" alt="logo"></a>

	<div class="login">
	<% if user_signed_in? %>
		Signed in as <%= current_user.email %> Not you? <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to "sign in", new_user_session_path %>
	<% end %>
	</div>
	<br style="clear:both;">
	<nav><a href="#about">
	about</a> / <a href="#amenities">amenities</a> / <a href="#gallery">gallery</a> / <a href="#floorplan">floor plan</a></nav>
	<br style="clear:both;">
	</header>
<div class="container">
<%= yield %>
</div>
<footer><a href="#about">about</a> / 
			<a href="#amenities">amenities</a> / <a href="#gallery">gallery</a> / <a href="#floorplan">floor plan</a></footer>
</body>
</html>
