<!DOCTYPE html>
<html>
<head>
  <title>CapitolDominion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="normalize.css">
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
	<header><a href="/"><%= image_tag "capitol_dominion_logo.png", :class=> "logo" %></a>

	<div class="login">
	<% if user_signed_in? %>
		Signed in as <%= current_user.email %> | <%= link_to "dashboard", dashboard_path %> | Not you? <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to "sign in", new_user_session_path %>
	<% end %>
	</div>
	
	<nav><a href="#about">about</a> / <a href="#amenities">amenities</a> / <a href="#gallery">gallery</a> / <a href="#floorplan">floor plan</a></nav>
	<br style="clear:both;">
	</header>
<div class="container">
<%= yield %>
<footer><a href="#about">
	about</a> / <a href="#amenities">amenities</a> / <a href="#gallery">gallery</a> / <a href="#floorplan">floor plan</a>
</footer>
</div>

</body>
<div class="copyright">All rights reserved. Capitol Dominion</div>
</html>
